<div class="container" fxFlex="100"  [class.example-is-mobile]="mobileQuery.matches" >
    
      <mat-toolbar class="toolbar" >
        <button class="menu" mat-icon-button (click)="snav.toggle()">
          <mat-icon matTooltip="Menu">menu</mat-icon>
        </button>  
        <div  fxHide.xs="true" >  
      <img class="bulbimage" src="../../../assets/bulbimage.png" alt=""></div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <div>
            <h1 class="app-name">
              <p>
                <span class="f">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="O">o</span>
              </p>
            </h1>
    
          </div>
      </div>


      <div class="search" fxFlex.md='35' fxFlex='45'>
          <!-- <span fxShow fxHide.xs fxShow fxHide.xs class="example-spacer"></span> -->
          <mat-form-field [style.fontSize.px]="12"   appearance="outline"
            routerLink="search"  fxFlex="60" fxFlex.md="50" fxFlex.xs="50">
            <button mat-icon-button matSuffix fxFlex.xs="50" matTooltip="Search">
              <mat-icon matPrefix>search</mat-icon>
            </button>
            <input matInput type="text" [(ngModel)]="title" placeholder="search" (keyup)="searchNotes($event)">
          </mat-form-field>
        </div>
  
        <!-- <div fxShow fxShow.xs fxHide><button mat-icon-button matSuffix fxFlex.xs="50" matTooltip="Search">
            <mat-icon matPrefix (click)="searchVisible()">search</mat-icon>
          </button> </div> -->
        <!-- <div *ngIf="searchInput==true" fxFlex.md='35' fxFlex='45' fxFlexOffset='14' fxFlexOffset.sm='12' fxHide.xs='true'>
          <mat-form-field appearance="outline" [style.fontSize.px]=12>
  
            <input matInput placeholder="search" class="place" [(ngModel)]="title" (keyup)="searchNotes($event)"
              autocomplete="off">
            <mat-icon matPrefix>search</mat-icon>
  
          </mat-form-field>
        </div> -->






      <!-- <div class="search" fxFlex.md='35' fxFlex='55'> -->
  
                   <!-- <img src="../../../assets/icon/search.svg" alt=""> -->
                  <!-- <input class="search" (keyup)="searchNotes($event)" type="text" aria-autocomplete="both"  autocomplete="off" role="combobox"  aria-label="Search" placeholder="Search">
            
                </div> -->
            <!-- <div fxFlex=10 style="margin-left:70px"> 
              <button mat-icon-button>  
               <img class="listview" src="../../../assets/list.png" alt=""> 
              <img class="gridview" src="../../../assets/icons8-grid-2-24.png" alt="">
              </button>
            </div> -->
  
            <div fxFlex="25" fxShow fxHide.xs fxShow fxHide.xs >
                <button mat-icon-button style="margin-top:10px;margin-left: 100px; outline: none;" 
                class="materialicons" *ngIf=!list  (click)=View() matTooltip="List view" fxShow="true">
                  <i class="material-icons" >view_stream</i>
                </button>
                <button fxShow fxHide.xs fxShow fxHide.xs mat-icon-button style="margin-top:10px;margin-left: 100px; outline: none;"
                   *ngIf=list (click)=View() matTooltip="Grid view" fxShow="true">
                  <i class="material-icons">view_module</i>
                </button>
              </div>
              <div>
                  <button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    fxFlex.xs="30">
                    <img class="avatar " mat-card-avatar [src]="imageurl">
                    
                  </button>
                  <mat-menu #menu="matMenu">
                      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                          <mat-card fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="image-container" style="margin-top: -50;margin-left: -10px">
                              <img class="image" mat-card-avatar [src]="imageurl" (profilePic)="changeProfilePic()"
                                (click)="openSetProfileDialog()">
                              <span class="message">change</span>
                            </div>
                            <div style="margin-top: -50px" class="gb_3a">
                              <div class="un">{{userName | titlecase}}</div>
                              <div class="email">{{email}}</div>
                            </div>
          
                          </mat-card>
                        </div>
                          <mat-divider></mat-divider>
          
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around  center">
                  <button mat-raised-button (click)="gotoLogin()">Add acount</button>
                  <button mat-raised-button (click)="logout()">Sign out</button>
                </div>
                    </mat-menu>
              </div>
                  
        
            </mat-toolbar>
        

 <mat-divider></mat-divider>
      <mat-sidenav-container   class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
          <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                       [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <!-- <mat-label>
                <span class="f">F</span>
                <span class="u">U</span>
                <span class="n">N</span>
                <span class="d">D</span>
                <span class="o">O</span>
                <span class="o1">O</span>
            </mat-label> -->
            <mat-nav-list>
              <a mat-list-item routerLink="."  >
                  <img src="../../../assets/icon/bulb.svg" alt="">
                  <div class="notes">Notes</div>
              </a>
              <a mat-list-item routerLink="."  >
                  <img src="../../../assets/icon/reminder.svg" alt="">
                  <span class="rem">Reminders</span>
              </a>
              <mat-divider></mat-divider>
                  <mat-label>Labels</mat-label>
                  <a mat-list-item routerLink="." >
                  <img src="../../../assets//icon/editlabel.svg" alt="">
                  <span class="edit">Edit labels</span>
              </a>
              <mat-divider></mat-divider>
              <a mat-list-item routerLink="."  >
                  <img src="../../../assets/icon/archive.svg" alt="">
                  <span class="archive">Archive</span>
              </a>
              <a mat-list-item routerLink="."  >
                  <img src="../../../assets/icon/bin.svg" alt="">
                  <span class="bin">Bin</span>
              </a>
            </mat-nav-list>
          </mat-sidenav>
      
          <mat-sidenav-content>
  
        <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
        
      </div>
     
