.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .f{
    color:blue;
    font: bold;
}
.u{
    color:red;
}
.n{
    color:green;
}
.d{
    color:purple;
}
.o{
    color:black;
}
.o1{
    color:red;
}
.notes{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rem{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bin{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.archive{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search{
  text-align: left; 
  font-size: 15px;
  font-style: bold;
  height: 25px;
  width:200%;
}

   

