.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .f{
    color:blue;
    font: bold;
}
.u{
    color:red;
}
.n{
    color:green;
}
.d{
    color:purple;
}
.o{
    color:black;
}
.o1{
    color:red;
}
.notes{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rem{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bin{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.archive{
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search{
  height: 60px;
  width: 50%;
  display: flex;
  // border: 1px solid blue;
  flex-direction: column;
  align-content: center;
  mat-form-field{
    margin-top: 2px;
width: 100%;
  }
}
.icon{
  margin-right: 20px;
    height: 4rem;
    min-width: 0;
    line-height: 4rem;
    width: 4rem; 
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.gap{
  padding-left: 2em;
}
.s{
  padding-left:1em;
}
.bulbimage{
  height:40px;
  width:40px;
}
.color{
  color: gray;
}
.toolbar{
  color:gray;
}
::deep.menu {
  font-size: 18;
}
.avatar-flair {
  font-size: 38px;
  width: 90px;
  height: 90px;
}
.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.message {
  position: absolute;
  width: 40%;
  top: 85%;
  left: 30%;
  transform: translate(-10%, 100%);
  transition: all 1s;
  opacity: 0;
}
.image-container:hover .message {
  transform: translate(-1%, -1%);
  opacity: 1;
}
.select-profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  width: 40%;
  height: 40%;
  cursor: pointer;
}
::ng-deep.element.style {
  margin-left: 14px;
}
