.title{
    border:0;
    outline:0;
    font-size: 1rem;
    text-decoration-color: black;
}
.dis{
    border:0;
    outline:0;
    font-size: 1rem;
    text-decoration-color: black; 
}
.card{
margin-top: 2rem;
justify-content: center;
flex-wrap: wrap;



}   
.listView{
width: 100%;
}
.gridView {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    .matCard {
      width: 240px;
    }
 }
 ::ng-deep.element.style {
 margin-bottom: 2rem;

 }  