<div fxFlex="30" fxFlexOffset="35" class="card" fxLayout="row-wrap" fxLayoutGap="2rem">
    <mat-card *ngFor="let notes of getchildMessage" fxFlex="100" [style.background-color]="notes.color" >
        <div>
               <div  (click)="openDialog(notes)">
                    <div>
                            {{notes.title}}
                    </div>
                    
                    <div>
                         {{notes.description}}
                    </div><br>
                    <!-- <div>
                      <mat-icon></mat-icon>
                    </div> -->
                    <!-- <div>
                     <input matInput type="text" class="dis">  
                    </div> -->
                     <div>
                     <!-- <app-icon></app-icon> -->
                     </div> 
               </div>
               <div>
                <app-icon (setcolorEvent)="changecolorfromchild(event)"  [notesforiconchild]=notes></app-icon>
               </div>  
              
        </div>
    </mat-card>
</div>


 

<!-- {{getchildMessage|json}} -->

