<div fxFlex="30" fxFlexOffset="35" fxLayout="row" fxLayoutGap="32px" class="card">
    <mat-card *ngFor="let notes of getchildMessage" fxFlex="80" [style.background-color]="notes.color" >
        <div>
               <div  (click)="openDialog(notes)">
                    <div>
                            {{notes.title}}
                    </div>
                    
                    <div>
                         {{notes.description}}
                    </div><br>
               </div>
               <div>
                <app-icon [notesforiconchild]=notes ></app-icon>
               </div> 
        </div>
    </mat-card>
</div>


 

<!-- {{getchildMessage|json}} -->

