
.column{
    margin-left: 20%;
    margin-right: 20%;
}
.title{
 text-align:center;
font-size: 40px;
}
.f{
    color:blue;
    font: bold;
}
.u{
    color:red;
}
.n{
    color:green;
}
.d{
    color:purple;
}
.o{
    color:black;
}
.o1{
    color:red;
}
.signin{
    text-align: center;
    font-size: 20px;
    color:blue;
}
.mat-success {
    background-color:blue;
    color: #fff;
}