<div fxFlex="100" fxLayoutAlign="center center">
                <mat-card fxFlex="70">

                                <div class="column" fxLayout="column">
                                <form [formGroup] = "loginForm" fxLayout="column" (ngSubmit) = "onClickSubmit(loginForm.value)" >
                                        <p class="title">
                                            <span class="f">F</span>
                                            <span class="u">U</span>
                                            <span class="n">N</span>
                                            <span class="d">D</span>
                                            <span class="o">O</span>
                                            <span class="o1">O</span>
                                        </p>
                                        <p class="signin" >Sign in</p>
                                <div fxLayout="column" fxFlex="100" >
                                        <mat-form-field  [style.font-size.px]="12"  appearance="outline">
                                          <mat-label>Email</mat-label>
                                          <input matInput type = "text" placeholder = "email"  formControlName="email"> 
                                          <mat-error *ngFor="let validation of message.email">
                                              <mat-error *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                                          <mat-hint>Enter email address</mat-hint>
                                        </mat-form-field>
                                </div>
                                      <div fxLayout="column" fxFlex="100"  >
                                          <mat-form-field [style.font-size.px]="12" appearance="outline" >
                                              <mat-label>Password</mat-label>
                                              <input matInput  type = "text"  placeholder = "Enter password"  [type]="hide ? 'password' : 'text'" formControlName="password">
                                                <mat-error *ngFor="let validation of message.password">
                                                    <mat-error *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
                                                    </mat-error>
                                                <mat-hint>Enter password</mat-hint>
                                          
                                            <!-- <div fxFlex="100"> -->
                                            <button mat-icon-button matSuffix (click)="hide = !hide"  [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                         </button>
                                        </mat-form-field>
                                        <!-- </div> -->
                                        </div>
                                        <div fxFlex="100" >
                                        <button mat-button fxLayoutAlign="start none" (click)="gotoForget()" >Forget Password??</button>
                                        </div>
                                        <div fxLayout="column" fxLayout.xs="100" fxLayout.xs="column" fxLayoutAlign="space-between center">
                                                <div fxFlex="row"  fxFlex="40" fxLayoutAlign="start none"  >
                                                <button mat-button >Create an account</button>
                                                </div>
                                                <div fxFlex="row" fxFlex="" >
                                                <button mat-button  mat-flat-button [color]="'success'"  [disabled]="!validate && !loginForm.valid" (click)="gotoDashboard()" >Login</button></div>
                                                </div>
                            </form>                  
                        </div>
                        </mat-card>
</div>
