<mat-card fxFlex="50" fxFlexOffset="25" class="card">
        <form [formGroup]="addnoteForm" fxLayout="column" >
            <div fxLayout="row"  fxLayoutAlign="center center"  *ngIf="isOpen "  (click)="isOpen = !isOpen "  >
                <div fxFlex="70">
                        
                            <input matInput type="text" class="input" placeholder="Take a note.." >
                        </div> 
                     <div fxFlex="10">
                             <mat-icon class="color">check_box</mat-icon>
                         </div>
                         <div fxFlex="10">
                                 <mat-icon class="color">brush</mat-icon>
                             </div>
                     <div fxFlex="10">
                         <mat-icon class="color">crop_original</mat-icon>
                     </div>
        </div>
       
    <div *ngIf="!isOpen " >
      <div fxLayout="column">
           <input matInput type="text" class="input" formControlName="title" placeholder="Title"><br>
      </div>

  <div fxLayout="column">
        <textarea style="border: none" placeholder="Take a note.."></textarea>
  </div> 
    

       
    
    
    
      
       <div fxLayout="row">
            <div fxFlex="80">
                    <app-icon></app-icon>
    
            </div>
            <div flex="row"  fxFlex="20" (click)="onClickClose(addnoteForm.value)" class="close" >close</div>
       </div> 
</div>
</form>
</mat-card>
