<mat-card fxFlex="60%" >
    
            <div fxLayout="row"  fxLayoutAlign="center center" *ngIf="isOpen "  (click)="isOpen = !isOpen" >
                <div fxFlex="70">
                        <mat-label>Take a note..</mat-label>
                     </div> 
                     <div fxFlex="10">
                             <mat-icon class="color">check_box</mat-icon>
                         </div>
                         <div fxFlex="10">
                                 <mat-icon class="color">brush</mat-icon>
                             </div>
                     <div fxFlex="10">
                         <mat-icon class="color">crop_original</mat-icon>
                     </div>
        </div>
       
    <div *ngIf="!isOpen " >
       <div><textarea type="text" placeholder="Title"></textarea></div> &nbsp;
       <div><mat-label>Take a note..</mat-label></div>&nbsp;
        <div><mat-icon  class="color">access_alarms</mat-icon></div>&nbsp;
       <div fxLayout="row">
            <div fxFlex="80">
                    <app-icon></app-icon>
    
            </div>
            <div flex="row"  fxFlex="20" (click)="isOpen=!isOpen" class="close">close</div>
       </div> 
</div>
</mat-card>
