.input{
    border:0;
    outline:0;
    font-size: 1rem;
    text-decoration-color: black;
    text-decoration-style: none; 
    outline: none;
}
.close{
 color:black;
 outline: none;
 padding-bottom: 0%;
}
.update{
    border: none;
    outline: none;
    display: flex;
    padding: 0%;
}
