.color{
    color:gray;
    display: flex;
}
.close{
text-align: right;
}
.icon{
    display: flex; 
}
::ng-deep .mat-icon
{
    font-size: 18px;
}
.save{
    padding: 7px 21px;
}

.colorPicker
{
    height:25px;
    width: 25px;
    border-radius: 20px;
}
.menu{
    padding-bottom:0.5rem;
}
.reminder{
    padding-bottom:0.5rem; 
}
.arrow{
    font-size: 12px;
}
.date{
    display: flex;
   
}
.time{
    display: flex; 
}
.input{
text-align: initial;

}

