<div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" >
    <div fxFlex="15">
    <mat-icon class="c">add_alert</mat-icon>
</div>
<div fxFlex="15" >
    <mat-icon class="color">person_add</mat-icon>
</div>
<div fxFlex="15" >
    <mat-icon class="color">palette</mat-icon>
</div>
<div fxFlex="15">
    <mat-icon class="color">photo</mat-icon>
</div>
<div fxFlex="15">
    <mat-icon class="color">archive</mat-icon>
</div>
<div fxFlex="15">
    <mat-icon class="color">more_vert</mat-icon>
</div>

</div>