.color{
    color:gray;
    display: flex;
}
.close{
text-align: right;
}
.icon{
    display: flex; 
}
::ng-deep .mat-icon
{
    font-size: 18px;
}
.colorPicker {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 2px;
  }
  
  .date {
    border-radius: 0 25px 25px 0;
    border: transparent;
    font-size: 14px;
    flex: 5 5 auto;
    cursor: pointer;
  }
  .reminderMenu {
    width: 200px;
  }
  #reminderLabel {
    margin-right: 10px;
    line-height: 25px;
    cursor: pointer;
  }
  .lb{
    cursor: pointer;
  }
  
  h6 {
    margin-top: 7px;
    margin-left: 5px;
  }
  
  .noteReminder
  {
  font-size: 13px;
  line-height: 40px;
  font-family: 'Roboto',arial,sans-serif;
  color: #202124;
  margin-left: 10px;
  margin-right: 10px;
  border: transparent;
  background: transparent;
  cursor: pointer;
  
  }
  
  .noteReminder1
  {
  font-size: 14px;
  line-height: 40px;
  font-family: 'Roboto',arial,sans-serif;
  color: black;
  margin-left: 10px;
  }
  .material-icons{
      padding-top: 2px;
      padding-left: 8px;

  }
  .pick{
      padding-top: 10px;
  }
  .img{
    color:gray;
  }
.archive{
  width:20px;
  height: 20px;
}
