<div  fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayout.xs="50">
   <!---------------------*****Set Reminder*******-------------------------->
    <div fxFlex="17" fxLayout.xs="9">
            <button class="reminder" mat-icon-button [matMenuTriggerFor]="remindermenu">
                    <mat-icon class="color">add_alert</mat-icon>
                    <mat-menu #remindermenu="matMenu">
                        <div class="arrow">
                                <button mat-icon-button >
                                        <mat-icon>keyboard_backspace</mat-icon>
                                    </button>
                                    Select date & time
                        </div>
                            <mat-form-field class="date">
                                    <input matInput [matDatepicker]="picker" >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                <div>
                                     <mat-form-field class="time">
                                        <input matInput [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                                        <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                                     </mat-form-field>     
                                </div>   
                    </mat-menu>
                    
                
            </button>
</div>
<div fxFlex="17" fxLayout.xs="6" >
    <mat-icon class="color">person_add</mat-icon>
</div>
   <!---------------------***ChangeColor***-------------------------->
   <div  fxFlex="17" fxLayout.xs="15">
        <button class="menu"  mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="color">palette</mat-icon>
                <mat-menu #menu="matMenu">
                       <div fxLayout ='row' fxFlex="60" *ngFor="let color of colors">
                           <div *ngFor="let bgcolor of color">
                               <div class="colorPicker" (click)="setcolor(bgcolor)" [ngStyle]="{'background-color': bgcolor.color }"></div>
                           </div>
                       </div>
                   </mat-menu>
           </button>
   </div>

<!------------------------****Photo****------------------------------->
<div fxFlex="17" fxLayout.xs="6">
    <mat-icon class="color">photo</mat-icon>
</div>
<div fxFlex="17" fxLayout.xs="9">
    <mat-icon class="color">archive</mat-icon>
</div>
<div fxFlex="15" fxLayout.xs="5">
    <mat-icon class="color">more_vert</mat-icon>
</div>

<!-- <mat-menu #menu="matMenu">
        <div fxLayout ='row' fxFlex="60" *ngFor="let color of colors">
            <div *ngFor="let bgcolor of color">
                <div class="colorPicker" (click)="setcolor(bgcolor.color)" [ngStyle]="{'background-color': bgcolor.color }"></div>
            </div>
        </div>
    </mat-menu> -->


</div>