
        <div fxFlex="100" fxLayoutAlign="center center">
                <mat-card>
                        <div class="column" fxLayout="column">
                         <form [formGroup] = "resetForm" fxLayout="column" (ngSubmit) = "onClickSubmit(resetForm.value)" >
                                <p class="title">
                                    <span class="f">F</span>
                                    <span class="u">U</span>
                                    <span class="n">N</span>
                                    <span class="d">D</span>
                                    <span class="o">O</span>
                                    <span class="o1">O</span>
                                </p>
                        <div fxLayout="column" >
                                <mat-form-field [style.font-size.px]="12" appearance="outline">
                                  <mat-label>Enter register email</mat-label>
                                  <input matInput type = "text"  placeholder = "email" 
                                  formControlName="email"> 
                                  <!-- <mat-error *ngFor="let validation of message.email">
                                   <mat-error *ngIf="resetForm.get('email').hasError(validation.type) && (resetForm.get('email').dirty || resetForm.get('email').touched)">{{validation.message}}</mat-error>
                                   </mat-error> -->
                                  <mat-hint>Enter register email address</mat-hint>
                                </mat-form-field>
                        </div>
                        <div  fxLayout="row" fxLayout.xs="50" fxLayout.xs="column" fxLayoutAlign="space-between center">
                        <div fxFlex="row" fxFlex="70">
                        <mat-form-field [style.font-size.px]="12" fxFlex="100" appearance="outline">
                                <mat-label>Create new password</mat-label>
                                <input matInput type = "text"  placeholder="Create new password" [type]="hide ? 'password' : 'text'"  formControlName="password" >
                                <mat-hint>Enter min 6 characters</mat-hint>
                              </mat-form-field></div>
                              <div fxFlex="row" fxFlex="30">
                              <button  fxFlex="100" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </div>
                        </div>
                        <div  fxLayout="row" fxLayout.xs="50" fxLayout.xs="column" fxLayoutAlign="space-between center">
                                <div fxFlex="row" fxFlex="70">
                                <mat-form-field [style.font-size.px]="12" fxFlex="100" appearance="outline">
                                        <mat-label>Conform your password</mat-label>
                                        <input matInput type = "text"  placeholder="Create new password" [type]="hide ? 'password' : 'text'"   >
                                        <!-- <mat-hint>Enter capital, small letters & numbers</mat-hint> -->
                                      </mat-form-field></div>
                                      <div fxFlex="row" fxFlex="30">
                                      <button  fxFlex="100" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                      </div>
                                </div>
                        <div class="resetbutton" fxFlex="30">
                        <button mat-button mat-flat-button [color]="'success'" >Reset</button>
                        </div>
                        </form>
                        </div>
                        </mat-card>
        </div>

