<div fxFlex="100" fxLayoutAlign="center center">
    <mat-card>
        <div fxLayout="column">
            <form [formGroup]="registerForm" fxLayout="column" >
                <p class="title">
                    <span class="f">F</span>
                    <span class="u">U</span>
                    <span class="n">N</span>
                    <span class="d">D</span>
                    <span class="o">O</span>
                    <span class="o1">O</span>
                </p>
                <div fxLayout="row" fxLayout.xs="50%" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <div fxFlex="48">
                        <mat-form-field [style.font-size.px]="12" fxFlex="100" appearance="outline">
                            <mat-label>FirstName</mat-label>
                            <input matInput type="text" placeholder="FirstName" formControlName="firstName">
                            <mat-error *ngFor="let validation of message.firstName">
                            <mat-error *ngIf="registerForm.get('firstName').hasError(validation.type) && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">{{validation.message}}</mat-error>
                            </mat-error>
                            <mat-hint>Enter first name</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field [style.font-size.px]="12" fxFlex=100 appearance="outline">
                            <mat-label>LastName</mat-label>
                            <input matInput type="text"  placeholder="LastName"  formControlName="lastName">
                            <mat-error *ngFor="let validation of message.lastName">
                            <mat-error *ngIf="registerForm.get('lastName').hasError(validation.type) && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">{{validation.message}}</mat-error>
                            </mat-error>  
                            <mat-hint>Enter last name</mat-hint>
                        </mat-form-field>

                    </div>
                </div>
                <div fxFlex="row" fxFlex="100%">
                    <mat-form-field [style.font-size.px]="12" fxFlex="100" appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input matInput type="text" class="emailid" name="emailid" placeholder="emailid"
                            formControlName="emailid">

                        <mat-error *ngFor="let validation of message.emailid">
                                <mat-error *ngIf="registerForm.get('emailid').hasError(validation.type) && (registerForm.get('emailid').dirty || registerForm.get('emailid').touched)">{{validation.message}}</mat-error>
                            </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-hint>Choose email</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="50%" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <div fxFlex="row" fxFlex="40">
                        <mat-form-field [style.font-size.px]="12" fxFlex="100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="text" class="password" name="password" formControlName="password"
                                placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                            <mat-error *ngFor="let validation of message.password">
                                <mat-error *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                                    {{validation.message}}</mat-error>
                            </mat-error>

                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            </button>
                            <mat-hint>Enter password</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="row" fxFlex="40">
                        <mat-form-field [style.font-size.px]="12" fxFlex="100" appearance="outline">
                            <mat-label>Conform</mat-label>
                            <input matInput type="text" formControlName="cpassword"
                                placeholder="Conform your password" [type]="hide ? 'password' : 'text'">
                            <mat-error *ngFor="let validation of message.cpassword">
                                <mat-error *ngIf="registerForm.get('cpassword').hasError(validation.type) && (registerForm.get('cpassword').dirty || registerForm.get('cpassword').touched)">
                                    {{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="row" fxFlex="45">
                        <button mat-button (click)="gotoLogin()">Sign in instead</button>
                    </div>
                    <div>
                        <button mat-button fxFlex style="background:blue" [disabled]="!validate && !registerForm.valid" (click)="onClickSubmit(registerForm.value)"  (click)="gotoLogin()">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>